.skeleton {
  color: transparent !important;
  animation: move 4s ease-in-out infinite;
  background: linear-gradient(
    to right,
    var(--from, #111),
    var(--to, #3a3a3a),
    var(--from, #111)
  );
  background-size: 400% 100%;
}

@keyframes move {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 200% 0%;
  }
  100% {
    background-position: 400% 0%;
  }
}
